dist: xenial
language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"

install:
  - pip install -r requirements.txt
  - pip install pytest pytest-cov codecov
  - pip install -e .

script:
  - pytest --cov=pipeline --cov-report=xml

after_script:
  - codecov

after_success:
  - snyk monitor